<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="helloWorld" class="zyk.spring.HelloWorld" scope = "prototype"
        init-method="init" destroy-method="destory">
    <property name="message" value="Hello Good News !"/>
  </bean>


  <bean id="helloIndia" class="zyk.spring.HelloIndia" parent="helloWorld">
    <property name="message" value="Hello Good News !"/>
    <property name="name" value="jerry !"/>
  </bean>



  <bean class="zyk.spring.InitHelloWorld" />

  <bean id="textEditor" class="zyk.spring.TextEditor">
    <constructor-arg ref="spellChecker"/>
  </bean>

  <bean id="spellChecker" class="zyk.spring.SpellChecker">
  </bean>

  <bean id = "student" class="zyk.spring.Student">
    <property name="name" value="jerry !"/>
    <property name="age" value="2323"/>
  </bean>


</beans>
